*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(33, 10, 116);
    color:white;
    font-family:'Poppins', sans-serif;
}


nav{
    padding-left: 12px;
    overflow:hidden;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(20, 11, 92);
    top:0;
    bottom: 0;
    width:100%

    
}

nav ul{
    display:flex;
    justify-content: center;
    margin:20px;
}

nav ul li{
    list-style: none;
    margin: 23px;
    justify-content: center;
}
.left{
    font-size: 2rem;
}
.right{
    margin:30px;
}
div{
    display: block;
}
.first{
    display:flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
    margin: 85px 0;
}
.first >div{
    width: 30%;
}
.leftSection{
    font-size: 3rem;
    padding: 25px;
}


.leftSection .btn{
    padding: 15px;
    background: rgb(14, 19, 179);
    color:white;
    border: 2px solid white;
    border-radius: 6px;
    font-size:20px;
    cursor:pointer;
}
.btn .anchor{
    color:white;
    text-decoration: none;
}
.rightSection img{
    width:80%;
    
    
}
.purple{
    color:blueviolet;
}
nav ul li a{
    text-decoration: none;
    color:white
}
nav ul li a:hover{
    color:rgb(209, 56, 143);
    font-size:1.01rem;
    
}
#element{
    color: blueviolet;
}


body{
  background-color: #0d0879;

}
h1{
  text-align: center;
  padding: 10px;
}

.heading1 span{
    color: blueviolet;
}
.contact-left h1{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;   
}
.contact1{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    size: 3rem;;
}
p{
        font-size: 2rem;
}
.phone{
    font-size: 2rem;
    margin-top: 20px;
}

.social-icons{
    display: flex;
    font-size: 3rem;
    margin-top: 20px;
}
.social-icons a{
    text-decoration: none;
    margin-right: 20px;
    color: blueviolet;
    display: inline-block;
}
