*{
    margin:0;
    padding:0;
}
body{
    background-color: rgb(33, 10, 116);
    color:white;
    font-family:'Poppins', sans-serif;
}


nav{
    overflow:hidden;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(20, 11, 92);
    top:0;
    bottom: 0;
    width:100%

    
}

nav ul{
    display:flex;
    justify-content: center;
    margin:20px;
}

nav ul li{
    list-style: none;
    margin: 23px;
    justify-content: center;
}
.left{
    font-size: 2rem;
}
.right{
    margin:30px;
}
div{
    display: block;
}
.first{
    display:flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
    margin: 85px 0;
}
.first >div{
    width: 30%;
}
.leftSection{
    font-size: 3rem;
    padding: 25px;
}


.leftSection .btn{
    padding: 15px;
    background: rgb(14, 19, 179);
    color:white;
    border: 2px solid white;
    border-radius: 6px;
    font-size:20px;
    cursor:pointer;
}
.btn .anchor{
    color:white;
    text-decoration: none;
}
.rightSection img{
    width:80%;
    
    
}
.purple{
    color:blueviolet;
}
nav ul li a{
    text-decoration: none;
    color:white
}
nav ul li a:hover{
    color:rgb(209, 56, 143);
    font-size:1.01rem;
    
}
#element{
    color: blueviolet;
}


  .education {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: auto;
    padding: 5rem;
  }
  .education .heading {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
    
  }
  .education .heading span {
    color: blueviolet
  }
  .education .education-column {
    flex: 1 1 40rem;
  }
  .education-column .education-box {
    border-left: .2rem blueviolet;
  }
  .education-box .education-content {
    position: relative;
    padding-left: 2rem;
  }

  .education-box .education-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background:  blueviolet;
    border-radius: 58%;
  }
  .education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid blueviolet;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
  }
  .education-content .content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgb(196, 1, 196);
    z-index: -1;
    transition: .5s;
    opacity: .2;
}
.education-content .content:hover::before {
    width: 100%;
}
  .education-content .content .year {
    font-size: 1.5rem;
    color: blueviolet;
    padding-bottom: .5rem;
  }
  .education-content .content .year i{
    padding-right: .5rem;
  }
  .education-content .content h3 {
    font-size: 2rem;
  }
  
  /* making the page responsive */
  @media (max-width: 425px) {
    .education-content .content h3 {
         font-size: 25px;
     }
   }
   @media (max-width: 385px) {
    .education-content .content h3 {
         font-size: 20px;
     }
   }
  .education-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
  }
  @media (max-width: 425px) {
    .education-content .content p {
         font-size: 1rem;
     }
   }


  @keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}